<ngl-section [(open)]="open" title="Folders">
  <ul class="slds-is-nested slds-has-block-links--space">
    <li class="slds-item sidebar-item">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="">
          <a href="javascript:void(0);">Inbox</a>
        </div>
        <div class="slds-col--bump-left">5</div>
      </div>
    </li>
    <li class="slds-item sidebar-item">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="">
          <a href="javascript:void(0);">Spam</a>
        </div>
        <div class="slds-col--bump-left">25</div>
      </div>
    </li>
    <li class="slds-item sidebar-item">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="">
          <a href="javascript:void(0);">Draft</a>
        </div>
        <div class="slds-col--bump-left"></div>
      </div>
    </li>
    <li class="slds-item sidebar-item">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="">
          <a href="javascript:void(0);">Sent</a>
        </div>
        <div class="slds-col--bump-left">22</div>
      </div>
    </li>
    <li class="slds-item sidebar-item">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="">
          <a href="javascript:void(0);">Deleted</a>
        </div>
        <div class="slds-col--bump-left">25</div>
      </div>
    </li>
  </ul>
</ngl-section>
